table { 
    border-collapse: collapse
}

.resizedTextbox {
    border: none;
    text-align: right;
    width: 70px;
}

th, td {
    border: 1px solid;
    padding: 3px 5px 2px 5px;
}

th {
    font-weight: bold;
    background: silver;
}

.rowHeader {
    text-align:left;
    text-wrap:nowrap;
}

td {
    text-align: right;
}

input[type="number"] {
    appearance: none; /* Removes spinners in modern browsers */
    -moz-appearance: textfield; /* Removes spinners in Firefox */
    overflow: hidden; /* Prevents overflow (scrollbars) */
    width: 100%; /* Ensures inputs fill their container */
    height: 100%; /* Matches the cell height */
    border: none; /* Removes default borders */
    text-align: right;
  }
  