table { 
    border-collapse: collapse
}

.resizedTextbox {
    border: none;
    text-align: right;
    width: 70px;
}

th, td {
    border: 1px solid;
    padding: 3px 5px 2px 5px;
}

th {
    font-weight: bold;
    background: silver;
}

.rowHeader {
    text-align:left;
}

td {
    text-align: right;
}