<h1>Outlook</h1>

<table>
    <tr>
        <th *ngFor="let name of fields" class="columnHeader">
            {{name}}
        </th>
    </tr>
    <tr *ngFor="let row of table">
        <td *ngFor="let value of row">
            <input type="text" value="{{value}}" class="resizedTextbox">
        </td>
    </tr>
</table>

<h2>Transposed</h2>

<table #transposedTable>
    <tr>
        <th></th>
        <th *ngFor="let year of years" class="columnHeader">
            {{year}}
        </th>
    </tr>
    <tr *ngFor="let row of values; index as i">
        <th class="rowHeader">{{labels[i]}}</th>
        <td *ngFor="let value of row">
            <editable-cell value="{{value}}"></editable-cell>
        </td>
    </tr>
</table>

<button (click)="saveOutlook(transposedTable)">Save</button>