<!--
<h1>Outlook</h1>

<table>
    <tr>
        <th *ngFor="let name of fields" class="columnHeader">
            {{name}}
        </th>
    </tr>
    <tr *ngFor="let row of table">
        <td *ngFor="let value of row; let j = index">
            <input type="number" [(ngModel)]="row[j]" class="resizedTextbox">
        </td>
    </tr>
</table>
-->
<h2>Transposed</h2>

<button (click)="saveOutlook()">Save</button>

<table #transposedTable>
    <tr>
        <th></th>
        <th *ngFor="let year of years" class="columnHeader">
            {{year}}
        </th>
    </tr>
    <tr *ngFor="let key of labels">
        <th class="rowHeader">{{key}}</th>
        <td *ngFor="let yearData of values">
            <input type="number" [(ngModel)]="yearData[key]">
        </td>
    </tr>
</table>

